.cafe-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 28px;
}

.cafe-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}

.order-label {
  display: none;
}

.cart-container {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-icon-container {
  padding: 8px;
  position: relative;
  height: fit-content;
}

.cart-count {
  background-color: coral;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .cafe-navbar {
    height: 52px;
    padding: 0 38px;
  }
  .cafe-name {
    font-size: 22px;
  }

  .order-label {
    display: block;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: rgba(80, 79, 79, 0.986);
  }
}
