.cart-dish-card {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 8px;
  box-shadow: 0px 4px 16px 0px #eaebed;
}

.img-container {
  width: 160px;
  height: 120px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.dish-details-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .dish-details-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.dish-info {
  width: 100%;
  flex-grow: 1;
}

@media screen and (min-width: 767px) {
  .dish-info {
    width: 50%;
  }
}

.cart-dish-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

.cart-dish-price {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

@media screen and (min-width: 768px){
  .button-container{
    width: 50%;
  }
}

.qty-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qty-container button {
  cursor: pointer;
}

.price {
  color: blue;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button {
  padding: 4px;
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  height: fit-content;
  font-weight: 500;
  font-size: 12px;
}

.cart-dish-quantity {
  color: grey;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.remove-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgb(29, 28, 28);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

.remove-btn:hover {
  color: red;
}
